*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility components */
html {
  /* Custom Properties */
  --primary-color: #014d4e;
  --secondary-color: #ff9408;
  --secondary-color-m: #ff94088e;
  --tertiary-color: #017374;
  --tertiary-color-m: #01737498;
}
body {
  font-family: Baloo "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
::selection {
  background-color: whitesmoke;
  color: orangered;
}

a:link,
a:visited {
  text-decoration: none;
}
